@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-fade";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Urbanist', sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  white-space: nowrap;
  display: inline-block;
}
